.Grid {
  width: 360px;
  height: 360px;
  background-color: red;
}

.Field {
  width: 36px;
  height: 36px;
  background-color: blue;
  border: solid 1px black;
  float: left;
  box-sizing: border-box;
  text-align: center;
  line-height: 36px;
  color: yellow;
}

.Grid .Selected {
  background-color: rgb(0, 183, 255);
}

.Grid .Mine {
  background-color: black;
}

.Grid .Empty {
  opacity: 0.7;


  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ffindicons.com%2Ffiles%2Ficons%2F183%2Fgis_gps_map%2F128%2Fflag1rightgreen2.png&f=1&nofb=1);

  background-size: cover;
}
