.Grid {
  width: 560px;
  height: 560px;
  background-color: rgb(91, 121, 222);
}

.Field {
  width: 56px;
  height: 56px;
  background-color: blue;
  border: solid 1px black;
  float: left;
  box-sizing: border-box;
  text-align: center;
  line-height: 56px;
  color: yellow;
}
